.App {
    text-align: center;
    .parent-containers {
        padding: 10px;
        font-size: 14px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .header-items-count {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            width: 50px;
            padding: 5px;
            background-color: cyan;
            border-radius: 10px;
            margin: 0 15px 0 15px;
        }
        .header-items {
            font-size: 22px;
            margin-top: 15px;
        }
    }
    .items-count {
        margin: 0;
        border-radius: 5px;
        background-color: cyan;
        height: 40px;
        width: 40px;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .action-parents {
        margin-left: 15px;
        .action-icons {
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.icons {
    margin-left: 10px;
}

.button-restore {
    margin-right: 15px;
}
